body {
	background:#489647;
	text-align: center;
}
#a1 {
		font-size:200%;
}
#a3 {
	font-size:200%;
}
p {
		font-size:150%;
		font-weight:bold;
		text-align:justify;
		text-indent:5%;
}
#a2 {
	font-size:50%;
}
h3 {
	font-size:200%;
}